{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<style>
.btn-primaro{

background-color: red;

color: white;

}

.btn-primaru{

background-color: green;

color: white;

}




</style>
<div align="center">
    <h2 align="center">Удалить событие?</h2>
    <h2 align="center">{{event}}</h2>
    <body>
    <button class="btn btn-primaru" style="color: #03c03c"><a href="/event/{{eventid}}"
                                                              style="color: white">
        Отменить</a>
    </button>
    <button class="btn btn-primaro" style="color: #03c03c"><a href="/realdelete/{{eventid}}"
                                                              style="color: white">
        Удалить</a>
    </button>
    </body>
</div>

{% endblock %}