{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h2 align="center">Список мероприятий</h2>
<button class="btn btn-primary"> <a href="/addevent" style="color: white">Добавить</a> </button>
{% for meet in meetings %}
<h3><a href="/#" style="color: black">Мероприятие # {{ meet.id }}</a></h3>
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td class="title" width="400px" bgcolor="#dddddd">Что делаем.</td>
            <td class="title" width="150px" bgcolor="#dddddd">Кто делает.</td>
            <td class="title" width="100px" bgcolor="#dddddd" align="center">Когда.</td>
            <td class="title" width="200px" bgcolor="#dddddd" align="center">Сколько людей ждём.</td>
            <td class="title" width="100px" bgcolor="#dddddd" align="center">Сколько придёт.</td>
        </tr>
        <tr class="my_row">
            <td class="ordinary" bgcolor="#eeeeff">{{ meet.meeting.capitalize() }}</td>
            <td class="ordinary" bgcolor="#eeeeff">{{ names[meet.team_leader] }}</td>
            <td class="ordinary" bgcolor="#eeeeff" align="center">{{ meet.meet_date }}</td>
            <td class="ordinary" bgcolor="#eeeeff" align="center">{{ meet.people_need }}</td>
            <td class="ordinary" bgcolor="#eeeeff" align="center">{{ meet.people_go }}</td>
        </tr>

    </table>
</div>
<br>
{% endfor %}

{% endblock %}